<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.uml"
            id="br.ufes.inf.uml2ctx.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="Acceleo Model to Text" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="br.ufes.inf.uml2ctx.ui.popupMenus.AcceleoGenerateUml2ctxAction"
               enablesFor="+"
               id="br.ufes.inf.uml2ctx.ui.popupMenus.acceleoGenerateUml2ctxAction"
               icon="icons/default.gif"
               label="Generate Uml2ctx"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>
      </objectContribution>
   </extension>
</plugin>
