<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ctx.presentation.CtxModelWizardID"
            name="%_UI_CtxModelWizard_label"
            class="ctx.presentation.CtxModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CtxModelFile.gif">
         <description>%_UI_CtxModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="ctx.presentation.CtxEditorID"
            name="%_UI_CtxEditor_label"
            icon="icons/full/obj16/CtxModelFile.gif"
            extensions="ctx"
            class="ctx.presentation.CtxEditor"
            contributorClass="ctx.presentation.CtxActionBarContributor">
      </editor>
   </extension>

</plugin>
